.container{
    width: 70%;
    margin: 0 auto; 
}
header{
    font-family: 'Sansita Swashed' Cursive;
    color: #1e212b;
    font-weight: 300;
    font-size: 28px;
    text-align: center;
    background-color: #ff8427  
}

nav ul{
    color: #1e212b;
    float:right;
    padding: 0;
    list-style: none;
}

nav li{
    color: #1e212b;
    display: inline-block;
    align-items: center;
    margin-left: 50px;
}
h1{
    font-family: 'Sansita Swashed' Cursive;
}
body{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #4d8b31;
}
.center{
    width: 100%;
    height: 100%;
}
img {
    width:100%;
    height: 100%;
}